<header id="pageHeader">
    <nav class="menuBar">
        <a href="../index.php" class="menuBranding">Rönklovagok Kft.</a>
        <ul class="menu">
            <li class="menuItem">
                <a href="rolunk.php" class="menuLink">Rólunk</a>
            </li>
            <li class="menuItem">
                <a href="termek.php" class="menuLink">Termékek</a>
            </li>
            <li class="menuItem">
                <a href="kosar.php" class="menuLink">Kosár</a>
            </li>
            <li class="menuItem">
                <a href="bejelentkezes.php" class="menuLink">Bejelentkezés</a>
            </li>
            <li class="menuItem">
                <a href="regisztracio.php" class="menuLink">Regisztráció</a>
            </li>
            <li class="menuItem">
                <a href="./admin/admin.php" class="menuLink">Admin</a>
            </li>
        </ul>
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </nav>
</header>