/*
    Főoldal
*/

:root {
    --adminMainGridMargin: 2vh;
}

#sideNav {
    background-color: var(--dark-green);
    height: 100%;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 100px;
}

.sideHamburger {
    display: none;
    cursor: pointer;
    transition: 0.7s ease;
}

.sideHamburger:hover {
    .sideBar{
        background-color: var(--header-colour);
    }
}

.sideBar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 3px 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}


@media (max-width: 1100px) {
    .sideBar:nth-child(1) {
        width: 50%;
        align-self: flex-end;
        transform: translateY(6px) rotate(45deg);
    }
    .sideBar:nth-child(2) {
        align-self: flex-start;
        width: 85%;
    }
    .sideBar:nth-child(3) {
        width: 50%;
        align-self: flex-end;
        transform: translateY(-6px) rotate(-45deg);
    }

    .sideMenuItem {
        width: 100%;
    }

    .sideMenu {
        width: 70%;
        position:fixed;
        left: -100%;
        flex-direction: column;
        text-align: center;
        transition: 0.3s;
    }
    .sideHamburger {
        z-index: 999;
        width: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: start;
    }

    .sideHamburger.active {
        margin-right: 0.5rem;
    }

    .sideHamburger.active .sideBar:nth-child(1) {
        align-self: flex-start;
        transform: translateY(6px) rotate(-45deg);
    }
    .sideHamburger.active .sideBar:nth-child(2) {
        align-self: flex-end;
    }
    .sideHamburger.active .sideBar:nth-child(3) {
        align-self: flex-start;
        transform: translateY(-6px) rotate(45deg);
    }

    .sideMenu.active {
        left: 0;
        width: 80vw;
        display: flex;
        justify-content: center;
    }

    .sideMenu.active .sideMenuLink {
        font-size: 3vw;
    }

    #sideNav {
        width: 2rem;
        padding-right: 0;
        padding-left: 0;
        transition: 0.3s ease-in-out;
    }

    #sideNav.active {
        display: flex;
        justify-content: end;
        width: 80vw;
        position: fixed;
    }

    .adminMainWrapper {
        transition: 3s ease-in-out;
    }

    .adminMainWrapper.active {
        position: fixed;
        right: -100%;
    }
}

header {
    box-shadow: none;
}

main {
    display: grid;
    width: 100%;
    padding: 0;
    margin: 0;
    gap: 0;
    grid-template-columns: 1fr 10fr;
}

#adminSideNavMenu {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.sideMenuLink {
    font-size: 1vw;
    font-weight: bold;
    transition: 0.7s ease;
}

.sideMenuLink:hover {
    color:var(--header-colour);
}

.menuLink {
    font-size: 3vh;
}

#adminTitle {
    color: white;
}

.adminMainWrapper {
    width: 100%;
    height: 100%;
    padding-top: 70px;
    transition: 0.3s ease;
}

#adminMetricsWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.metricsBox {
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: white;
    font-weight: bold;
}

.metricNumber {
    font-size: 12vw;
}

.metricText {
    font-size: 3vw;
}

#metricTopLeft {
    margin: var(--adminMainGridMargin);
    background-color: var(--button-color);
}

#metricTopRight {
    margin: var(--adminMainGridMargin) var(--adminMainGridMargin) var(--adminMainGridMargin) 0;
    background-color: var(--button-color-active);

}

#metricBottomLeft {
    margin: 0 var(--adminMainGridMargin) var(--adminMainGridMargin) var(--adminMainGridMargin);
    background-color: var(--red);
}

#metricBottomRight {
    margin: 0 var(--adminMainGridMargin) var(--adminMainGridMargin) 0;
    background-color: var(--button-color);
}


/*
    Új termék
*/

.formPageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: calc(70px + 1rem) 1rem 1rem 1rem;
}

#newProductForm, #newCategoryForm {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: var(--light-colour);
    border-radius: 1rem;
    padding: 1vw;
}

#newProductWrapper, #newCategoryWrapper {
    width: 100%;
    height: auto;
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 8fr 1fr;
    gap: 0.5vw;
    justify-items: center;
    align-items: center;
}

.formSubmitButton, .formButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
    padding: 0;
    color: white;
    font-weight: bold;
    font-size: 2.2vh;
    width: 22vh;
    height: 7vh;
    background-color: var(--button-color);
    border: none;
    border-radius: 0.5rem;
    transition: 0.2s ease;
}

.formSubmitButton:hover, .formButton:hover {
    width: calc(22vh + 6px);
    height: calc(7vh + 6px);
    margin: 0px;
    box-shadow: 0.3vh 0.3vh 0.5vh black;
    cursor: pointer;
}

.formTitle {
    color: var(--dark-green);
    font-size: 3vh;
}

.inputTitle {
    font-weight: bold;
    color: var(--dark-green);
    font-size: 2vh;
    margin-bottom: 0.5vw;
}

.formWrapper {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 1fr 4fr;
    width: 100%;
    height: 100%;
    justify-items: center;
    align-items: center;
    gap: 0.5vw;
    padding: 0;
}

.formTopRow {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr;
    grid-template-rows: 1fr;
    text-align: left;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    padding: 1rem;
}

#categoryTopRow {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

#productImageInput {
    display: none;
}

.formBottomRow {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 2vw;
    padding: 1rem;
}

.priceInputWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    height: 100%;
}

.productDescWrapper, .categoryDescWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.descInput {
    height: 100% !important;
    resize: none;
    padding-top: 1rem;
}

.formInput, #categorySelector {
    width: 100%;
    height: 3rem;
    border: none;
    outline: none;
    border-radius: 1rem;
    padding-left: 1rem;
    font-size: 2vh;
}

.productImgWrapper, .categoryImgWrapper  {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.productImgLeft, .categoryImgLeft {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: left;
}

.productImagePreview, .categoryImagePreview {
    width: 100%;
    border-radius: 1rem;
}

.productImgRight, .categoryImgRight {
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.imgUploadBtnWrapper, .formButton, .formButton:hover {
    width: 100%;
    font-size: 1.5vh;
}

.orderCardFieldValue .formButton:hover {
    font-size: 2.2vh;
}

.redButton {
    background-color: var(--red);
}




@media (max-width: 1100px) {
    .formWrapper {
        box-sizing: border-box;
        display: grid;
        grid-template-rows: auto auto;
        width: 100%;
        height: 100%;
        justify-items: center;
        align-items: center;
        gap: 0.5vw;
    }

    #newProductWrapper, #newCategoryWrapper {
        width: 100%;
        height: 100%;
        display: grid;
        box-sizing: border-box;
        grid-template-columns: 1fr;
        grid-template-rows: auto 12fr auto;
        gap: 1vw;
        justify-items: center;
        align-items: center;
        padding: 1rem;
    }

    .formTopRow {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        text-align: left;
        align-items: center;
        justify-content: center;
        gap: 1vw;
        padding: 1rem;
    }

    
}

@media (max-width: 800px) {
    .formWrapper {
        box-sizing: border-box;
        display: grid;
        grid-template-rows: auto auto;
        width: 100%;
        height: 100%;
        justify-items: center;
        align-items: center;
        gap: 0.5vw;
    }

    #newProductWrapper, #newCategoryWrapper {
        width: 100%;
        height: fit-content;
        display: grid;
        box-sizing: border-box;
        grid-template-columns: 1fr;
        grid-template-rows: auto 12fr auto;
        gap: 1vw;
        justify-items: center;
        align-items: center;
        padding: 1rem;
    }

    .formTopRow {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        text-align: left;
        align-items: center;
        justify-content: center;
        gap: 1vw;
        padding: 1rem;
    }

    #formProdNameDiv, #formProdCatDiv{
        grid-column: span 2;
    }

    .formBottomRow {
        display: grid;
        justify-items: center;
        align-items: center;
        width: 100%;
        height: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 2vw;
        padding: 1rem;
    }
}


/*
    Megrendelések
*/

.ordersPageWrapper {
    padding-top: calc(70px + 2rem);
    padding: calc(70px + 2rem) 2rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#ordersTitle {
    font-size: 2.5vw;
    color: var(--dark-green);
}

.ordersListWrapper {
    padding-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.orderItemWrapper {
    width: 80%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    background-color: var(--light-colour);
    padding: 2vw;
    border-radius: 1rem;
}

.termekWrapper {
    width: 80%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 0.5fr;
    justify-content: center;
    align-items: center;
    background-color: var(--light-colour);
    padding: 2vw;
    border-radius: 1rem;
    margin: 1rem;
}

.productsListWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.productItemWrapper {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    background-color: var(--light-colour);
    padding: 2vw;
    border-radius: 1rem;
}

.productItemWrapper2 {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    background-color: var(--light-colour);
    padding: 2vw;
    border-radius: 1rem;
    margin-bottom: 2rem;
}

.orderCardField {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: start;
    align-items: center;
    gap: 1rem;
}

.orderCardFieldTitle {
    font-weight: bold;
    font-size: 3vh;
}

.orderCardFieldValue {
    font-size: 2.5vh;
}

.orderShipped {
    background-color: var(--button-color);
    padding: 1vh;
    border-radius: 1rem;
    color: beige;
    font-weight: bold;
}

.buttonField, .buttonField:hover {
    grid-row: 1/3;
    font-size: 2vh;
}

@media (max-width: 1350px) {
    .orderItemWrapper {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .orderCardField:last-of-type {
        grid-column: 1/3;
    }
}

@media (max-width: 800px) {
    #ordersTitle {
        font-size: 5vw;
    }

    .orderItemWrapper {
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .orderCardField {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .orderCardFieldValue {
        text-align: center;
    }

    .orderCardField:last-of-type {
        grid-column: 1;
        grid-row: 5;
    }
}