main {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#singIOWapper {
    width: 30rem;
}

#IOForm {
    background-color: var(--light-colour);
    border-radius: 1.5rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#formTitle {
    color: var(--footer-colour);
    font-size: 3vh;
    font-weight: bold;
}

.container {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
}

.containerLabel {
    font-size: 2vh;
    font-weight: lighter;
    color: var(--footer-colour);
}

.containerinput {
    width: 100%;
    height: 4vh;
    border-radius: 0.5vh;
    border: none;
}

#regButton {
    background-color: var(--button-color);
    border: none;
    border-radius: 0.5vh;
    width: 95%;
    height: 5vh;
    margin: 2px;
    color: white;
    font-weight: bold;
    font-size: 2.2vh;
    align-self: center;
    transition: 0.2s ease;
}

#regButton:hover {
    width: calc(95% + 4px);
    height: calc(5vh + 4px);
    box-shadow: 0.3vh 0.3vh 0.5vh black;
    cursor: pointer;
    margin: 0;
}

#singIn {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
}

#iForgetMyPassword {
    margin-bottom: 1.2rem;
}

.singInText {
    color: var(--header-colour);
    font-style: italic;
}

#singInLink {
    color: var(--footer-colour);
    font-style: italic;
    font-weight: bold;
}

@media (max-width: 550px) {
    #singIOWapper {
        width: 20rem;
    }
}