/*
    Globalis
*/

/* globalis valtozok a szinekre */
:root {
    --background-colour: #F1F8FD;
    --header-colour: #98651E;
    --footer-colour: #533710;
    --light-colour: #F0D394;
    --arrow-colour: #e0ae40;
    --dark-green: #6E4B1F;
    --button-color: #2F981E;
    --button-color-active: #4E9F40;
    --braun: #985B06;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow: hidden;
    background-color: var(--background-colour);
    overflow-x: hidden;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    overflow: scroll;
    font-family: Arial, Helvetica, sans-serif;
}

/*
    Header
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    padding: 0 1rem;
    background-color: var(--header-colour);
    transition: all 1s ease-in-out;     
    box-shadow: 0rem 0.2rem 0.5rem 1px #000000;
}


a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
}

.menuBar {
    width: 100%;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block-start: 0 24px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.menuBranding {
    transition: 0.7s ease;
    font-size: 2rem;
}

.menuLink {
    font-size: 2.5vh;
    font-weight: bold;
    transition: 0.7s ease;
}

.menuLink:hover, .menuBranding:hover{
    color:var(--footer-colour);
}

.hamburger {
    display: none;
    cursor: pointer;
    transition: 0.7s ease;
}

.hamburger:hover {
    .bar{
        background-color: var(--footer-colour);
    }
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

@media (max-width: 1100px) {
    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .menu {
        position:fixed;
        Right: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: var(--header-colour);
        width: 100%;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0rem 1rem 1rem -0.5rem #000000;
    }
    .menuItem {
        margin: 16px 0;
    }
    .menu.active {
        right: 0;
    }
}

#pageHeader.veryScrollDown {
    transform: translate3d(0, -50vh, 0);
}

#pageHeader.scrollDown {
    transform: translate3d(0, -11vh, 0);
}

/*
    Main
*/

main {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: auto;
    flex: 1;
    padding: 1.5rem 5vw;
    margin-top: 4rem;
    gap: 1.5rem;
}

/*
    Up Arrow
*/

#upArrow.scrollDown {
    bottom: -10vh;
}

#upArrow:hover {
    width: 7.5vh;
    height: 7.5vh;
    cursor: pointer;
}

#upArrow {
    background-color: var(--arrow-colour);
    width: 7vh;
    height: 7vh;
    position: fixed;
    bottom: 2vh;
    right: 5vw;
    padding: 0;
    border: 1px solid var(--footer-colour);
    border-radius: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
    font-weight: bold;
    transition: 0.2s ease;
    color: var(--footer-colour);

}

/*
    Footer
*/

footer {
    height: 3rem;
    width: 100%;
    background-color: var(--footer-colour);
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--light-colour);
    font-size: 1.5vh ;
}

#footerPhone {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#phoneImage {
    height: 2rem;
    /*
        filterrel szinezem at a kepet, hogy mashol maradhasson fekete es ne kelljen feleslegesen sok kepet hasznalni
        a filterhez generatort hasznaltam: https://codepen.io/sosuke/pen/Pjoqqp
    */
    filter: invert(81%) sepia(15%) saturate(954%) hue-rotate(349deg) brightness(109%) contrast(88%);
}


#nagyFaszu {
    position: absolute;
    top: 25%;
    width: fit-content;
    font-weight: bolder;
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,154,0,1) 10%, rgba(208,222,33,1) 20%, rgba(79,220,74,1) 30%, rgba(63,218,216,1) 40%, rgba(47,201,226,1) 50%, rgba(28,127,238,1) 60%, rgba(95,21,242,1) 70%, rgba(186,12,248,1) 80%, rgba(251,7,217,1) 90%, rgba(255,0,0,1) 100%);
    background-clip: text;
    color: transparent;
}