/*
    Globalis
*/

/* globalis valtozok a szinekre */
:root {
    --background-colour: #F1F8FD;
    --header-colour: #98651E;
    --footer-colour: #533710;
    --light-colour: #F0D394;
    --dark-green: #6E4B1F;
    --button-color: #2F981E;
    --button-color-active: #4E9F40;
}

body {
    overflow-x: hidden;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    overflow: scroll;
    font-family: Arial, Helvetica, sans-serif;
}

/*
    Header
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    padding: 0.5rem 1rem;
    background-color: var(--header-colour);
    transition: all 0.3s ease-in-out; 
}


a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
}

.menuBar {
    width: 100%;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block-start: 0 24px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.menuBranding {
    transition: 0.7s ease;
    font-size: 2rem;
}

.menuLink {
    font-weight: bold;
    transition: 0.7s ease;
}

.menuLink:hover, .menuBranding:hover{
    color:var(--footer-colour);
}

.hamburger {
    display: none;
    cursor: pointer;
    transition: 0.7s ease;
}

.hamburger:hover {
    .bar{
        background-color: var(--footer-colour);
    }
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

@media (max-width: 768px) {
    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .menu {
        position:fixed;
        Right: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: var(--header-colour);
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .menuItem {
        margin: 16px 0;
    }
    .menu.active {
        right: 0;
    }

}

header.scrollUp {
}

#pageHeader.scrollDown {
    transform: translate3d(0, -100%, 0);
}

/*
    Main
*/

#indexMain {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: var(--background-colour);
    height: auto;
    flex: 1;
    padding: 1.5rem 10vw;
    gap: 1.5rem;
}

/*
    Footer
*/

footer {
    height: 3rem;
    background-color: var(--footer-colour);
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--light-colour);
    font-size: 1.5vh ;
}

#footerPhone {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#phoneImage {
    height: 2rem;
    /*
        filterrel szinezem at a kepet, hogy mashol maradhasson fekete es ne kelljen feleslegesen sok kepet hasznalni
        a filterhez generatort hasznaltam: https://codepen.io/sosuke/pen/Pjoqqp
    */
    filter: invert(81%) sepia(15%) saturate(954%) hue-rotate(349deg) brightness(109%) contrast(88%);
}