.kosarTitle {
    font-size: 3rem;
    align-self: center;
    padding-top: 2rem;
    color: var(--dark-green);
}

#cartWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
}

.cartCard {
    display: grid;
    grid-template-columns: 12rem 1fr 2fr 2fr 3fr 5rem;
    box-sizing: border-box;
    background-color: var(--light-colour);
    padding: 1rem;
    border-radius: 2rem;
    color: var(--dark-green);
    height: 12rem;
    min-width: 10rem;
    gap: 1rem;
}

@media (max-width: 1000px) {
    .cartCard {
        grid-template-columns: 1fr;
        grid-template-rows: 12rem repeat(4, 1fr) 1fr;
        height: fit-content;
        justify-content: center;
        width: fit-content;
    }

    #cartWrapper {
        justify-content: center;
        align-items: center;
    }

    .cartCardField {
        padding: 1rem;
        height: 100%;
        gap: 1rem;
    }

    .cartCardProductImage {
        justify-self: center;
    }
}

.cartCardProductImage {
    height: 10rem;
    border-radius: 1rem;
}

.cartCardField {
    display: grid;
    grid-template-rows: 2rem auto;
}

.cartCardTitle {
    font-weight: bold;
    font-size: 2rem;
}

.cartCardProductName, .cartCardPricePerMeasurement, .cartCardItemPriceSum, .cartCardAmountWrapper {
    font-weight: bold;
    font-size: 1.5rem;
    justify-self: center;
    align-self: center;
}

.amountInput {
    width: calc(5ch*1.5);
    border: none;
    outline: none;
    height: 2.5rem;
    border-radius: 0.8rem;
    background-color:#D9D9D9;
    padding-left: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--dark-green);
}