:root {
    --forest-green: #138a36ff;
    --cordovan: #90323dff;
    --drab-dark-brown: #37371fff;
    --federal-blue: #140d4fff;
    --tea-green: #d4e6b5ff;
    --test: #d4e6b511;
    --air-superiority-blue: #7c9eb2ff;
    --charcoal: #5b8383;
}

body {
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    max-width: 100vw;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--tea-green);
    font-family: Arial, serif;
    display: flex;
    flex-direction: column;
}

.menuLink {
    color: beige;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}

#title {
    font-weight: bold;
    font-size: 2rem;
    text-decoration: none;
    color: beige;
}

header nav {
    justify-content: end;
    gap: 1rem;
    align-items: center;
    display: flex;
    text-decoration: none;
    margin: 0;
}

header {
    position: fixed;
    color: beige;
    display: grid;
    width: calc(100% - 2rem);
    grid-template-columns: 30% 70%;
    padding: 1rem;
    background-color: var(--charcoal);
}

main {
    align-items: center;
    text-align: center;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
}

#f-tartalom{
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#addressBar{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.addressBarItem {
    text-align: center;
}